<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JavaScript Homework 11-12</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/myCarousel.css">

  <script src="https://code.jquery.com/jquery-2.2.3.min.js" charset="utf-8"></script>
  <script src="js/template.js"></script>
  <script src="js/jquery.easing.js"></script>
  <script src="js/jquery.myCarousel.js"></script>
  <script src="js/script.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="myCarousel">
      <ul class="myCarousel-list">
        <li class="myCarousel-element">
          <img src="http://mobiliv.ru/_ph/139/2/980735426.jpg?1463527792" alt="">
          <p>Описание 1</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://mobiliv.ru/_ph/139/2/306041332.jpg" alt="">
          <p>Описание 2</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://mobiliv.ru/_ph/139/2/511852459.jpg" alt="">
          <p>Описание 3</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://mobiliv.ru/_ph/139/2/300021494.jpg" alt="">
          <p>Описание 4</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://mobiliv.ru/_ph/139/2/907987069.jpg" alt="">
          <p>Описание 5</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://mobiliv.ru/_ph/139/2/944505598.jpg" alt="">
          <p>Описание 6</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://www.hdiphonewallpapers.us/phone-wallpapers/iphone/12954E222560Z-44X3.jpg" alt="">
          <p>Описание 7</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://www.hdiphonewallpapers.us/phone-wallpapers/iphone/12954DAX2560-13446.jpg" alt="">
          <p>Описание 8</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://www.hdiphonewallpapers.us/phone-wallpapers/iphone/12954GY425O0-395Z.jpg" alt="">
          <p>Описание 9</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://www.hdiphonewallpapers.us/phone-wallpapers/iphone/12954E543245Z-15447.jpg" alt="">
          <p>Описание 10</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://www.hdiphonewallpapers.us/phone-wallpapers/iphone/12954E33K350-2RO.jpg" alt="">
          <p>Описание 11</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://www.hdiphonewallpapers.us/phone-wallpapers/iphone/12954E134414Z-24563.jpg" alt="">
          <p>Описание 12</p>
        </li>
      </ul>
      <div class="myCarousel-prev">‹</div>
      <div class="myCarousel-next">›</div>
    </div>

    <script type="text/template" id="test">
      <div class="mainbox">
        <h1><%= name %></h1>
          <div class="photo">
              <img src= <%= photoURL %> alt="My Photo" />
          </div>
          <p><%= profession %></p>
        <hr>
          <p>Хочу учить фронтэнд, потому что:</p>
          <ul>
            <li><%= reason1 %></li>
            <li><%= reason2 %></li>
            <li><%= reason3 %></li>
          </ul>
        <hr>
        <p>Мой контактный телефон <br><%= telephone %></p>
        <p></p>
        <p>Мой профиль вконтакте<br>
          <a href= <%= profileURL %> target="_blank">VK</a>
        </p>
      </div>
    </script>
  </div>
</body>
</html>
